.DS_Store
.idea
node_modules
/packages/*/dist
/packages/**/dist
/packages/*/es
/packages/**/es
npm-debug.log*
lerna-debug.log
.changelog

.node
_dist
/packages/*/build
/packages/**/build
/packages/*/yarn-error.log
/packages/**/yarn-error.log
/packages/*/.awcache
/packages/**/.awcache
yarn-error.log
